<div class="row">
    <div class="col-md-7">
        <div class="card" style="width: 18rem;">
            <img src="./uploads/<%= user.imagename  %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title"><%= user.name %></h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" id="output"><%= user.email %></li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Update Profile</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <div class="col-md-5">
            <a href="/users/logout" class="btn btn-secondary" style="margin-left: 480px;">Logout</a>

        <div class="top-level-message">
            <h3>You have been active on this page for</h3>
        </div>
        <div class="time-message">
            <h1>
                <span id="timeInSeconds">0</span> <span>seconds</span>
            </h1>
        </div>
        <button type="button" class="btn btn-secondary" id="btnstart" style="margin-left: 160px;">Start Time </button>
        <br /><br />
        <br /><br />
        <div id="div" style="display:none">
            <button type="button" class="btn btn-info" id="btnbreak" style="margin-left: 160px; ">Break</button><br/>
            <button type="button" class="btn btn-info" id="btnleave" style="margin-left: 160px;">Leave</button>
        </div>
        <div id="divendbreak" style="display: none;">
            <button type="button" class="btn btn-success" id="btnEndBreak" style="margin-left: 160px;">End Break</button>
        </div>
    </div>
</div>